[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ODER"]
	path = ODER
	url = https://github.com/eolagbaju/oder
	shallow = true
	registered = true
